PORT=3002
NODE_ENV=development

# MongoDB Atlas or local connection string
MONGO_URI=mongodb://localhost:27017/campus_notifications

# Evaluation service
EVAL_BASE_URL=http://20.207.122.201/evaluation-service
EVAL_ACCESS_TOKEN=your_bearer_token_here

# Redis (Stage 4 — caching)
REDIS_URL=redis://localhost:6379
CACHE_TTL_SECONDS=60
